<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Semantic Types Notation</string>
    <key>description</key>
    <string>Syntax highlighting for Semantic Types Notation (.stypes).</string>
    <key>uuid</key>
    <string>F8C8AE8C-DB56-4A55-BBA0-4CEAB43F43E3</string>
</dict>
</plist>
